[submodule "bundle/Jinja"]
	path = bundle/Jinja
	url = git://github.com/vim-scripts/Jinja.git
[submodule "bundle/zencoding-vim"]
	path = bundle/zencoding-vim
	url = git://github.com/mattn/zencoding-vim.git
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = git://github.com/davidhalter/jedi-vim
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "bundle/github_editor_theme"]
	path = bundle/github_editor_theme
	url = git://github.com/sbecker/github_editor_theme.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
[submodule "bundle/autofmt"]
	path = bundle/autofmt
	url = git://github.com/vim-jp/autofmt
[submodule "bundle/vim-htmldjango_omnicomplete"]
	path = bundle/vim-htmldjango_omnicomplete
	url = git://github.com/mjbrownie/vim-htmldjango_omnicomplete.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/hallison/vim-markdown.git
[submodule "bundle/pythoncomplete"]
	path = bundle/pythoncomplete
	url = git://github.com/vim-scripts/pythoncomplete
[submodule "bundle/AutoComplPop"]
	path = bundle/AutoComplPop
	url = git://github.com/vim-scripts/AutoComplPop
[submodule "bundle/L9"]
	path = bundle/L9
	url = git://github.com/vim-scripts/L9
[submodule "bundle/xmledit"]
	path = bundle/xmledit
	url = git://github.com/sukima/xmledit.git
[submodule "bundle/django.vim"]
	path = bundle/django.vim
	url = git://github.com/vim-scripts/django.vim
[submodule "bundle/rope-vim"]
	path = bundle/rope-vim
	url = git://github.com/sontek/rope-vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab
[submodule "bundle/vim-javascript-syntax"]
	path = bundle/vim-javascript-syntax
	url = git://github.com/jelera/vim-javascript-syntax.git
[submodule "bundle/html5.vim"]
	path = bundle/html5.vim
	url = git://github.com/othree/html5.vim.git
[submodule "bundle/vim-css"]
	path = bundle/vim-css
	url = git://github.com/lepture/vim-css.git
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/vim-flake8"]
	path = bundle/vim-flake8
	url = git://github.com/nvie/vim-flake8.git
[submodule "bundle/mru.vim"]
	path = bundle/mru.vim
	url = git://github.com/vim-scripts/mru.vim.git
[submodule "bundle/Transparent"]
	path = bundle/Transparent
	url = git://github.com/vim-scripts/Transparent.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/VST"]
	path = bundle/VST
	url = git://github.com/vim-scripts/VST.git
[submodule "bundle/pylint.vim"]
	path = bundle/pylint.vim
	url = git://github.com/vim-scripts/pylint.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/matchit.zip"]
	path = bundle/matchit.zip
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = git://github.com/tomasr/molokai.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/jpythonfold.vim"]
	path = bundle/jpythonfold.vim
	url = git://github.com/mbadran/jpythonfold.vim.git
[submodule "bundle/vim-golang"]
	path = bundle/vim-golang
	url = git://github.com/jnwhiteh/vim-golang
