snippet #!/
#!/usr/bin/env python
# -*- coding: utf-8 -*-

$0
endsnippet
# 设置系统编码
snippet xtbm "设置系统编码" b
import sys

if sys.getdefaultencoding() != 'utf-8':
    reload(sys)
    sys.setdefaultencoding('utf-8')

$0
endsnippet
