# pelican meta
snippet meta
    Title: ${1}
    Date: ${2}
    Author: mozillazg
    Category: ${3}
    Tags: ${4}
    Slug: ${5}
    lang: ${6}
    status: draft

# 参考
snippet ck
    ## 参考
    
    * [${1})
