snippet #!/
options head
    # -*- coding: utf-8 -*-

    ${1}

# 设置系统编码
snippet xtbm
    import sys

    if sys.getdefaultencoding() != 'utf-8':
        reload(sys)
        sys.setdefaultencoding('utf-8')

    ${1}

snippet pdb
    import pdb; pdb.set_trace()

snippet logger
    import logging
    logger = logging.getLogger(__name__)
