snippet #!/
options head
    #!/usr/bin/env python
    # -*- coding: utf-8 -*-

    ${1}

# 设置系统编码
snippet xtbm
    import sys

    if sys.getdefaultencoding() != 'utf-8':
        reload(sys)
        sys.setdefaultencoding('utf-8')

    ${1}

