snippet #!/
options head
    #!/usr/bin/env python
    # -*- coding: utf-8 -*-
    from __future__ import absolute_import, print_function, unicode_literals

    ${1}

# 设置系统编码
snippet xtbm
    import sys

    if sys.getdefaultencoding() != 'utf-8':
        reload(sys)
        sys.setdefaultencoding('utf-8')

    ${1}

snippet pdb
    import pdb; pdb.set_trace()

snippet logger
    logger = logging.getLogger(__name__)

