snippet coding
    .. code-block:: python

snippet blog
    =============================================================================
     
    =============================================================================

    :slug: 
    :date: 
    :tags: 


    参考资料
    ============
